@{
    ViewData["Title"] = "ViewTransporterDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var basicCharges = 0;
    var chargesForExcessValue = 0;
}

<style>
    /* Apply borders to all sides of table cells */
    .table td {
        border: 1px solid #000;
        padding: 5px;
    }

    .table thead th {
        border: 1px solid #000;
        padding: 5px;
        border-top: 1px solid #000 !important;
        font-weight: bold;
    }
</style>
<style>
    .custom-border {
        border: 3px solid red !important;
    }

    .custom-border-rigth {
        border-right: 3px solid red !important;
        height: 259px !important;
    }
</style>
<!--Add Update Modals-->
<div class="modal fade" id="BillModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">


                <h2 class="text-center text-bold">Add Bill To Record</h2>

                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="AddForm" action="@Url.Action("PostAddBillToRecord", "Admin")" method="post">
                    <input hidden id="TransporterRecordId" value="@ViewBag.TransporterDetail.Id" name="TransporterRecordId" />
                    <div class="panel-body">
                        <legend class="text-bold text-uppercase"><span class="text-danger">*</span> Fields are mandatory to fill</legend>

                        <div class="form-group">
                            <label class="text-bold">Name<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" required name="Name" id="Name" placeholder="Enter Name">
                        </div>

                        <div class="form-group">
                            <label class="text-bold">Address</label>
                            <input type="text" class="form-control" required name="Address" id="Address" placeholder="Enter Address">
                        </div>

                        <div class="form-group">
                            <label class="text-bold">Agreed Value<span class="text-danger">*</span></label>
                            <input type="number" min="0" class="form-control" name="AgreedValue" id="AgreedValue" placeholder="Enter Agreed Value" required>
                        </div>

                        <div class="form-group">
                            <label class="text-bold">Charge Value<span class="text-danger">*</span></label>
                            <input type="number" min="0" class="form-control" name="ChargeValue" id="ChargeValue" placeholder="Enter Charge Value" required>
                        </div>

                        <div class="form-group">
                            <label class="text-bold">Charge per Animal<span class="text-danger">*</span></label>
                            <input type="number" min="0" class="form-control" name="ChargePerAnimal" id="ChargePerAnimal" placeholder="Enter Charge per Animal" required>
                        </div>

                        <div class="form-group">
                            <label class="text-bold">Description<span class="text-danger">*</span></label>
                            <textarea class="form-control" required name="Description" id="Description" placeholder="Enter Description"></textarea>
                        </div>

                        <div class="text-right">
                            <button type="submit" id="subBtn" class="btn btn-primary">Add <i class="icon-database-insert position-right"></i></button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="UpdateModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">


                <h2 class="text-center text-bold">Update Bill To Record</h2>

                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="AddForm" action="@Url.Action("PostUpdateBillToRecord", "Admin")" method="post">
                    <input hidden id="TransporterRecordId" value="@ViewBag.TransporterDetail.Id" name="TransporterRecordId" />
                    <input hidden id="updId" name="Id" />
                    <div class="panel-body">
                        <legend class="text-bold text-uppercase"><span class="text-danger">*</span> Fields are mandatory to fill</legend>

                        <div class="form-group">
                            <label class="text-bold">Name<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" required name="Name" id="UpdName" placeholder="Enter Name" required>
                        </div>

                        <div class="form-group">
                            <label class="text-bold">Address</label>
                            <input type="text" class="form-control" name="Address" id="UpdAddress" placeholder="Enter Address" required>
                        </div>

                        <div class="form-group">
                            <label class="text-bold">Agreed Value<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="AgreedValue" id="UpdAgreedValue" placeholder="Enter Agreed Value" required>
                        </div>

                        <div class="form-group">
                            <label class="text-bold">Charge Value<span class="text-danger">*</span></label>
                            <input type="number" min="0" class="form-control" name="ChargeValue" id="UpdChargeValue" placeholder="Enter Charge Value" required>
                        </div>

                        <div class="form-group">
                            <label class="text-bold">Charge per Animal<span class="text-danger">*</span></label>
                            <input type="number" min="0" class="form-control" name="ChargePerAnimal" id="UpdChargePerAnimal" placeholder="Enter Charge per Animal" required>
                        </div>

                        <div class="form-group">
                            <label class="text-bold">Description<span class="text-danger">*</span></label>
                            <textarea class="form-control" required name="Description" id="UpdDescription" placeholder="Enter Description"></textarea>
                        </div>

                        <div class="text-right">
                            <button type="submit" id="subBtn" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!--End Add Update Modals-->
<!-- Add Update Receiving Modal-->
<div class="modal fade" id="ReceivingModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">

                @if (ViewBag.getReceivingOrderRecord == null)
                {
                    <h2 class="text-center text-bold">Add Receiving Record</h2>
                }
                else
                {
                    <h2 class="text-center text-bold">Update Receiving Record</h2>

                }
                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                @if (ViewBag.getReceivingOrderRecord==null)
                {
                    <form id="AddForm" action="@Url.Action("PostAddReceiviedOrderRecord", "Admin")" method="post">
                        <input hidden id="TransporterRecordId" value="@ViewBag.TransporterDetail.Id" name="TransporterRecordId" />
                        <div class="panel-body">
                            <legend class="text-bold text-uppercase"><span class="text-danger">*</span> Fields are mandatory to fill</legend>

                            <div class="form-group">
                                
                                        <label class="text-bold">By<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" required name="By" id="Name" placeholder="Enter By">
                                  
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="text-bold">Received By<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" required name="ReceivedBy" id="AgreedValue" placeholder="Enter Received By">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="text-bold">Receiving Date</label>
                                        <input type="date" class="form-control" name="ReceivingDate" id="ReceivingDate" placeholder="Enter Receiving Date" required>
                                    </div>
                                   
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="text-bold">Payment<span class="text-danger">*</span></label>
                                        <input type="number" min="0" class="form-control" required name="Payment" id="ChargePerAnimal" placeholder="Enter Payment">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="text-bold">Payment Date<span class="text-danger">*</span></label>
                                        <input type="date" class="form-control" required name="PaymentDate" id="PaymentDate" placeholder="Enter Payment Date">
                                        <div id="dateError" class="text-danger"></div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text-bold">Payment Type<span class="text-danger">*</span></label>
                                <div>
                                    <label class="checkbox-inline">
                                        Pre Pay
                                        <input type="checkbox" class="payment-type" name="SelectPaymentType" value="Pre Pay">
                                    </label>
                                    <label class="checkbox-inline">
                                        Visa/Mc
                                        <input type="checkbox" class="payment-type" name="SelectPaymentType" value="Visa/Mc">
                                    </label>
                                    <label class="checkbox-inline">
                                        C.O.D
                                        <input type="checkbox" class="payment-type" name="SelectPaymentType" value="C.O.D">
                                    </label>

                                    <input type="hidden" name="PaymentType" id="SelectedPaymentType">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="text-bold">Payment By<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" required name="PaymentBy" id="PaymentBy" placeholder="Enter Payment By">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="text-bold">Check<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" required name="Check" id="Description" placeholder="Enter Check">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="text-bold">Layovers<span class="text-danger">*</span></label>
                                        <input type="number" min="0" class="form-control" required name="Layovers" id="Layovers" placeholder="Enter Layovers">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="text-bold">Vet Fees<span class="text-danger">*</span></label>
                                        <input type="number" min="0" class="form-control" required name="VetFees" id="VetFees" placeholder="Enter VetFees">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="text-bold">Other<span class="text-danger">*</span></label>
                                        <input type="number" min="0" class="form-control" required name="Other" id="Other" placeholder="Enter Other">
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="text-bold">Carrier Per (Agent Or Driver)<span class="text-danger">*</span></label>
                                <input type="text"  class="form-control" required name="CarrierPerAgentOrDriver" id="CarrierPer" placeholder="Carrier Per (Agent Or Driver)">
                            </div>

                            <div hidden class="form-group">
                            <input  type="number" class="form-control" name="BasicCharges" id="BasicCharges" placeholder="Basic Charges" readonly>
                            <input  type="number" class="form-control" name="ChargesForExcessValue" id="ExcessValueCharges"  readonly>
                            <input  type="number"  class="form-control" name="TotalCharges" id="TotalCharges" >
                            </div>
                            <div class="text-right">
                                <button type="submit" id="subBtn" class="btn btn-primary">Add <i class="icon-database-insert position-right"></i></button>
                            </div>
                        </div>
                    </form>

                }
                else
                {
                    <form id="AddForm" action="@Url.Action("PostEditReceiviedOrderRecord", "Admin")" method="post">
                        <input hidden id="TransporterRecordId" value="@ViewBag.TransporterDetail.Id" name="TransporterRecordId" />
                        <input hidden value="@ViewBag.getReceivingOrderRecord.Id" name="Id" />
                        <div class="panel-body">
                            <legend class="text-bold text-uppercase"><span class="text-danger">*</span> Fields are mandatory to fill</legend>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="text-bold">By<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" required name="By" value="@ViewBag.getReceivingOrderRecord.By" id="By" placeholder="Enter By">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="text-bold">Receiving Date<span class="text-danger">*</span></label>
                                        <input type="date" class="form-control" required value="@ViewBag.getReceivingOrderRecord.ReceivingDate" name="ReceivingDate" id="Address" placeholder="Enter Receiving Date">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="text-bold">Payment<span class="text-danger">*</span></label>
                                        <input type="number" min="0" value="@ViewBag.getReceivingOrderRecord.Payment" class="form-control" required name="Payment" id="ChargePerAnimal" placeholder="Enter Payment">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="text-bold">Received By<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" value="@ViewBag.getReceivingOrderRecord.ReceivedBy" required name="ReceivedBy" id="AgreedValue" placeholder="Enter Received By">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="text-bold">Payment Date<span class="text-danger">*</span></label>
                                        <input type="date" value="@ViewBag.getReceivingOrderRecord.PaymentDate" class="form-control" required name="PaymentDate" id="PaymentDate" placeholder="Enter Payment Date">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="text-bold">Payment By<span class="text-danger">*</span></label>
                                        <input type="text" value="@ViewBag.getReceivingOrderRecord.PaymentBy" class="form-control" required name="PaymentBy" id="PaymentBy" placeholder="Enter Payment By">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="text-bold">Payment Type<span class="text-danger">*</span></label>
                                <div>
                                    <label class="checkbox-inline">
                                        Pre Pay
                                        <input type="checkbox" class="payment-type" name="SelectPaymentType" value="Pre Pay">
                                    </label>
                                    <label class="checkbox-inline">
                                        Visa/Mc
                                        <input type="checkbox" class="payment-type" name="SelectPaymentType" value="Visa/Mc">
                                    </label>
                                    <label class="checkbox-inline">
                                        C.O.D
                                        <input type="checkbox" class="payment-type" name="SelectPaymentType" value="C.O.D">
                                    </label>
                                    <input type="hidden" name="PaymentType" id="SelectedPaymentType">
                                </div>
                            </div>

                            <div class="form-group" style="margin-top:25px">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="text-bold">Check<span class="text-danger">*</span></label>
                                        <input type="text" value="@ViewBag.getReceivingOrderRecord.Check" class="form-control" required name="Check" id="Description" placeholder="Enter Check">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="text-bold">Layovers<span class="text-danger">*</span></label>
                                        <input type="number" min="0" value="@ViewBag.getReceivingOrderRecord.Layovers" class="form-control" required name="Layovers" id="Layovers" placeholder="Enter Layovers">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="text-bold">Vet Fees<span class="text-danger">*</span></label>
                                        <input type="number" value="@ViewBag.getReceivingOrderRecord.VetFees" min="0" class="form-control" required name="VetFees" id="VetFees" placeholder="Enter VetFees">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="text-bold">Other<span class="text-danger">*</span></label>
                                        <input type="number" min="0" value="@ViewBag.getReceivingOrderRecord.Other" class="form-control" required name="Other" id="Other" placeholder="Enter Other">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="text-bold">Other<span class="text-danger">*</span></label>
                                <input type="number" min="0" value="@ViewBag.getReceivingOrderRecord.Other" class="form-control" required name="Other" id="Other" placeholder="Enter Other">
                            </div>

                            <div hidden class="form-group">
                                <label class="text-bold">Basic Charges<span class="text-danger">*</span></label>
                                <input type="number" value="@ViewBag.getReceivingOrderRecord.BasicCharges" class="form-control" name="BasicCharges" id="BasicCharges" placeholder="Basic Charges" readonly>
                            </div>

                            <div hidden class="form-group">
                                <label class="text-bold">Charges For ExcessValue<span class="text-danger">*</span></label>
                                <input type="number" value="@ViewBag.getReceivingOrderRecord.ChargesForExcessValue" class="form-control" name="ChargesForExcessValue" id="ExcessValueCharges" placeholder="Charges For ExcessValue" readonly>
                            </div>

                            <div hidden class="form-group">
                                <label class="text-bold">Total Charges<span class="text-danger">*</span></label>
                                <input type="number" value="@ViewBag.TotalCharges" min="0" class="form-control" name="TotalCharges" id="TotalCharges" placeholder="Enter Total Charges">
                                @*<input type="number" value="@ViewBag.getReceivingOrderRecord.TotalCharges" min="0" class="form-control"  name="TotalCharges" id="TotalCharges" placeholder="Enter Total Charges">*@
                            </div>

                            <div class="form-group">
                                <label class="text-bold">Carrier Per (Agent Or Driver)<span class="text-danger">*</span></label>
                                <input type="text" value="@ViewBag.getReceivingOrderRecord.CarrierPerAgentOrDriver" class="form-control" required name="CarrierPerAgentOrDriver" id="CarrierPer" placeholder="Carrier Per (Agent Or Driver)">
                            </div>

                            <div class="text-right">
                                <button type="submit" id="subBtn" class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </form>

                }

            </div>
        </div>
    </div>
</div>

<!--End Add Update Receiving Modal-->

<!--Delete Modal-->
@if(@ViewBag.getReceivingOrderRecord!=null)
{
    <div class="modal fade" id="confirmDeleteModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center" id="confirmModalHead">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title" id="confirmModal">Warning!</h3>
                </div>
                <div class="modal-body p-5">
                    <h6 class="text-semibold" id="confirmModalText">
                        Do you really want to delete this record?<br />
                        This record is going to permanently delete from your System.<br />
                        This action cannot be undone.
                    </h6>
                </div>
                <div class="modal-footer border-top-1 border-top-grey-800 pt-10">
                    <form method="post" id="confirmModal" action="@Url.Action("DeleteReceiviedOrderRecord", "Admin", new { id = @ViewBag.getReceivingOrderRecord.Id })">
                     <button class="btn btn-link" data-dismiss="modal">Cancel</button>
                      <button class="btn btn-danger" type="submit" id="confirmMod">Proceed</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

}
 
<!--End Delete Modal-->


<div class="content mt-15" style="font-size:80%">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-flat custom-panel">
                <div class="panel-heading">
                    <h4 class="panel-title text-center text-bold">BOB HUBBARD HORSE TRANSPORTATION, INC.</h4>
                </div>
                @*<a href="@Url.Action("PdfHtmlContent","Admin",new{Id=@ViewBag.TransporterDetail.Id})" class="btn btn-sm btn-danger icon-file-pdf">Test Pdf Copy</a>*@

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-5"></div>
                        <div class="col-md-2">
                            <a href="@Url.Action("PdfHtmlContent","Admin",new{Id=@ViewBag.TransporterDetail.Id})" class="btn btn-sm btn-danger icon-file-pdf">Get Pdf Copy</a>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="text-bold text-danger">N0#</label>
                                <input type="text" class="form-control" style="background-color:#f6faff;" required name="Date" value="@ViewBag.TransporterDetail.No" readonly>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <p class="text-center">
                                <b>
                                    MC 149564 AND SUB 1F<br />
                                    3730 S. Riverside Ave., Colton, CA 92324<br />
                                    MAIN OFFICE 800-472-7786 ∙ VERSAILLES, KY 800-888-5914 ∙ AUBURN, WA 800-317-6768 ∙ OCALA, FL 800-398-0001
                                </b>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="text-bold">Date</label>
                                <input type="text" class="form-control" style="background-color:#f6faff;" required name="Date" value="@ViewBag.TransporterDetail.Date" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <h3>
                                <b>
                                    NON NEGOTIABLE
                                    BILL OF LADING
                                </b>
                            </h3>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="text-bold">Tractor#</label>
                                <input type="text" class="form-control" style="background-color:#f6faff;" required name="Date" value="@ViewBag.TransporterDetail.TractorNumber" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="text-bold">Tractor Driver</label>
                                <input type="text" class="form-control" style="background-color:#f6faff;" required name="Date" value="@ViewBag.TransporterDetail.TractorDriver" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="text-bold">Trailer#</label>
                                <input type="text" class="form-control" style="background-color:#f6faff;" required name="Date" value="@ViewBag.TransporterDetail.TrailerNumber" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="text-bold">Trailer Driver</label>
                                <input type="text" class="form-control" style="background-color:#f6faff;" required name="Date" value="@ViewBag.TransporterDetail.TrailerDriver" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="text-bold">From</label>
                                <input type="text" class="form-control" style="background-color:#f6faff;" required name="Date" value="@ViewBag.TransporterDetail.From" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="text-bold">Barn#</label>
                                <input type="text" class="form-control" required name="Date" style="background-color:#f6faff;" value="@ViewBag.TransporterDetail.BarnFrom" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="text-bold">Phone</label>
                                <input type="text" class="form-control" style="background-color:#f6faff;" required name="Date" value="@ViewBag.TransporterDetail.PhoneFrom" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="text-bold">Address</label>
                                <input type="text" class="form-control" style="background-color:#f6faff;" required name="Date" value="@ViewBag.TransporterDetail.AddressFrom" readonly>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="text-bold">City And State</label>
                                <input type="text" class="form-control" style="background-color:#f6faff;" required name="Date" value="@ViewBag.TransporterDetail.FromCityAndState" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <p text-justify style="font-size: 9px;">
                                This
                                Shipment is subject to the provisions of this bill of lading (including the provisions on the reverse side hereof) and the Carrier’s Terms and Conditions of Shipment in effect on the date of this Shipment’s origin. The Carrier
                                agrees to transport to destination indicated the property described below if within the scope of Carrier’s lawful operation. The property described below is in apparent good condition (except as otherwise noted). It is mutually
                                agreed as to the parties hereto, all Beneficial Owners of the property identified herein and all Carrier’s handling this Shipment or any part thereof, every service to be performed hereunder shall be subject to all conditions not
                                prohibited by law whether printed or written, contained in Carrier’s Terms and Conditions of Shipment and this bill of lading and shall apply to any return of the Shipment or any reconsignment by the Shipper, Carrier, or Connecting
                                Carrier.
                                The Carrier’s Established Rate per animal applies only when the shipment has an Agreed Value not exceeding $5,000 per animal. When an Agreed Value in excess of $5,000 is declared on any animal, there will be added to the
                                Established Rate a charge of $1.00 for each $100 or fraction thereof of such excess valuation for each 100 miles or fraction thereof of distance between points of origin and destination (subject to a minimum excess charge of
                                $100 per animal.)
                                THE AGREED VALUE OF THE PROPERTY IS HEREBY SPECIFICALLY STATED BY THE SHIPPER INDIVIDUALLY OR BY SHIPPER’S AGENT SIGNING ON SHIPPER’S BEHALF NOT TO EXCEED
                                $5,000 PER ANIMAL UNLESS SPECIFIED OTHERWISE HEREIN.
                                Shipper is encouraged to obtain it’s own insurance, it being acknowledged and understood animals transported may
                                have an actual value in excess of the Agreed Value. Carrier does not provide insurance for Shipper’s goods. Carrier assumes the liability of a common carrier subject to to the provisions of 49 U.S.C. 14706.
                                <span class="text-danger">
                                    El acuerdo de el valor de la propiedad es por este medio que el embarcador o el agente del embarcador firmando en su nombre declara especificamente el
                                    valor de este no excediendo $5,000 por animal. A no ser que se especifique de orta manera en el documento.
                                </span>
                                Shipper is encouraged to obtain it’s own insurance, it being acknowledged and understood animals transported may
                                have an actual value in excess of the Agreed Value. Carrier does not provide insurance for Shipper’s goods. Carrier assumes the liability of a common carrier subject to to the provisions of 49 U.S.C. 14706.
                            </p>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="text-bold">Ship To</label>
                                <input type="text" class="form-control" style="background-color:#f6faff;" required name="Date" value="@ViewBag.TransporterDetail.ShipTo" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="text-bold">Barn#</label>
                                <input type="text" class="form-control" style="background-color:#f6faff;" required name="Date" value="@ViewBag.TransporterDetail.BarnTo" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="text-bold">Phone</label>
                                <input type="text" class="form-control" style="background-color:#f6faff;" required name="Date" value="@ViewBag.TransporterDetail.ToPhoneNumber" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="text-bold">Address</label>
                                <input type="text" class="form-control" style="background-color:#f6faff;" required name="Date" value="@ViewBag.TransporterDetail.AddressTo" readonly>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="text-bold">City And State</label>
                                <input type="text" class="form-control" style="background-color:#f6faff;" required name="Date" value="@ViewBag.TransporterDetail.ToCityAndState" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 mb-15">
                        <div class="col-md-8"></div>
                        <div class="col-md-2 pull-right btn-block">
                            <a href="#" class="btn btn-primary btn-sm m-5  pull-right"  data-toggle="modal" data-target="#BillModal">Add New</a>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="width:30%">BILL TO: NAME AND ADDRESS</th>
                                        <th style="width:35%">
                                            NAME, NUMBER, DESCRIPTION
                                            KIND OF ANIMALS.
                                            PARAPHERNALIA, PETS, MASCOTS, ETC.
                                        </th>
                                        <th>
                                            Maximum Agreed VALUE OF EACH ANIMAL

                                        </th>
                                        <th>
                                            CHARGES FOR EXCESS VALUE

                                        </th>
                                        <th>
                                            BASIC CHARGE
                                            PER ANIMAL
                                        </th>
                                        <th>
                                            Actions
                                        </th>
                                    </tr>
                                </thead>
                                <tbody style="background-color:#f6faff">
                                    <!-- Rows -->
                                    @foreach (var item in @ViewBag.billToRecords)
                                    {
                                        <tr>
                                            <td>@item.Name, @item.Address</td>
                                            <td>@item.Description</td>
                                            <td>@item.AgreedValue</td>
                                            <td>@item.ChargeValue</td>
                                            <td>@item.ChargePerAnimal</td>
                                            <td>
                                                <!-- Dropdown -->
                                                <ul class="icons-list text-center">
                                                    <li class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                            <i class="icon-menu9" style="color: #007bff;"></i>
                                                        </a>
                                                        <ul class="dropdown-menu dropdown-menu-right" style="padding-left: 5px !important; min-width: 95px !important;">
                                                            <li>
                                                                <button class="btn btn-sm bg-info icon-pencil" onclick="updateFunction('@item.Id')" title="Edit"></button>
                                                                <button class="btn btn-sm bg-danger icon-bin" onclick="deleteFunction('@item.Id')" title="Delete"></button>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>

                                        basicCharges += @item.ChargePerAnimal;
                                        chargesForExcessValue += @item.ChargeValue;
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row mt-3 mb-15">
                        <div class="col-md-5"></div>
                        <div class="col-md-2 pull-right btn-block">
                            @if (@ViewBag.getReceivingOrderRecord==null)
                            {
                                <a href="#" class="btn btn-primary btn-sm m-5 pull-right" data-toggle="modal" data-target="#ReceivingModal">Add Receiving</a>

                            }
                            else
                            {
                                <a href="#" class="btn btn-primary btn-sm icon-pencil m-5 pull-right" title="Update Receiving"  data-toggle="modal" data-target="#ReceivingModal"></a>
                                <a href="#" data-toggle="modal" data-target="#confirmDeleteModal" title="Delete Receiving" class="btn btn-danger btn-sm icon-bin  m-5 pull-right"></a>

                            }
                        </div>
                        <div class="col-md-5"></div>
                    </div>
                    @if (ViewBag.getReceivingOrderRecord!=null)
                    {
                    <div class="row custom-border">
                        <div class="col-md-5 custom-border-rigth">
                            <div class="form-group">
                                <label class="text-bold" style="display: inline-block;">By:</label>
                                    <input type="text" class="form-control" style="background-color:#f6faff;" required name="By" value="@ViewBag.getReceivingOrderRecord.By" placeholder="N/A" readonly style="display: inline-block; width: calc(100% - 60px);"><br />

                                <label class="text-bold" style="display: inline-block;">Date:</label>
                                    <input type="text" class="form-control"  style="display: inline-block; width: calc(100% - 70px);background-color:#f6faff;" required name="ReceivingDate" value="@ViewBag.getReceivingOrderRecord.ReceivingDate" placeholder="N/A" readonly><br />

                                <p>If COLORS, REGISTRATION or TACK sent with horses receiver must acknowledge receipt.</p><br />

                                <label class="text-bold" style="display: inline-block;">Received By:</label>
                                    <input type="text" class="form-control" style="display: inline-block; width: calc(100% - 120px);background-color:#f6faff;" required name="ReceivedBy" value="@ViewBag.getReceivingOrderRecord.ReceivedBy" placeholder="N/A" readonly>
                            </div>
                        </div>
                        <div class="col-md-3 custom-border-rigth">
                            <div class="form-group">
                                <label class="text-bold" style="display: inline-block;">Payment Type</label>
                                    <input type="text" class="form-control" name="PaymentType" value="@ViewBag.getReceivingOrderRecord.PaymentType" readonly style="display: inline-block; width: 55%;background-color:#f6faff;"><br />

                                <label class="text-bold" style="display: inline-block;">Payment$</label>
                                    <input type="text" class="form-control" style="display: inline-block; width:67%;background-color:#f6faff;" name="Payment" value="@ViewBag.getReceivingOrderRecord.Payment" readonly><br />

                                <label class="text-bold" style="display: inline-block;">Date</label>
                                    <input type="text" class="form-control" style="display: inline-block; width: 83%;background-color:#f6faff;" name="PaymentDate" value="@ViewBag.getReceivingOrderRecord.PaymentDate" readonly><br />

                                <label class="text-bold" style="display: inline-block;">By</label>
                                    <input type="text" class="form-control" style="display: inline-block; width:90%;background-color:#f6faff;" name="PaymentBy" value="@ViewBag.getReceivingOrderRecord.PaymentBy" readonly><br />

                                <label class="text-bold" style="display: inline-block;">Check#</label>
                                    <input type="text" class="form-control" style="display: inline-block; width: 75%;background-color:#f6faff;" name="Check" value="@ViewBag.getReceivingOrderRecord.Check" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-row">
                                    <label class="text-bold" style="display: inline-block; width: 160px;">Basic Charges</label>
                                        <input type="text" class="form-control" name="BasicCharges" value="@basicCharges" readonly style="display: inline-block; width: 115px;background-color:#f6faff;">
                                    @*<input type="text" class="form-control"  name="BasicCharges" value="@ViewBag.getReceivingOrderRecord.BasicCharges"  readonly style="display: inline-block; width: 115px;">*@
                                </div>
                                <div class="input-row">
                                    <label class="text-bold" style="display: inline-block; width: 160px;">Charges For Excess Value</label>
                                        <input type="text" class="form-control" name="ChargesForExcessValue" value="@chargesForExcessValue" readonly style="display: inline-block; width: 115px;background-color:#f6faff;">
                                    @*<input type="text" class="form-control"  name="ChargesForExcessValue" value="@ViewBag.getReceivingOrderRecord.ChargesForExcessValue"  readonly style="display: inline-block; width: 115px;">*@
                                </div>
                                <div class="input-row">
                                    <label class="text-bold" style="display: inline-block; width: 160px;">Lay Overs</label>
                                        <input type="text" class="form-control" name="Layovers" value="@ViewBag.getReceivingOrderRecord.Layovers" readonly style="display: inline-block; width: 115px;background-color:#f6faff;">
                                </div>
                                <div class="input-row">
                                    <label class="text-bold" style="display: inline-block; width: 160px;">Vet Fees</label>
                                        <input type="text" class="form-control" name="VetFees" value="@ViewBag.getReceivingOrderRecord.VetFees" readonly style="display: inline-block; width: 115px;background-color:#f6faff;">
                                </div>
                                <div class="input-row">
                                    <label class="text-bold" style="display: inline-block; width: 160px;">Other</label>
                                        <input type="text" class="form-control" name="Other" value="@ViewBag.getReceivingOrderRecord.Other" readonly style="display: inline-block; width: 115px;background-color:#f6faff;">
                                </div>
                                <div class="input-row">
                                    <label class="text-bold" style="display: inline-block; width: 160px;">Total Charges</label>
                                        <input type="text" class="form-control" name="TotalCharges" value="@ViewBag.TotalCharges" readonly style="display: inline-block; width: 115px;background-color:#f6faff;">
                                    @*<input type="text" class="form-control"  name="TotalCharges" value="@ViewBag.getReceivingOrderRecord.TotalCharges"  readonly style="display: inline-block; width: 115px;">*@
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="text-center">
                                <b>
                                    CONTRACT TERMS AND CONDITIONS
                                </b>
                            </h5><br />
                            <p class="text-justify" style="font-size:11px">
                                <b>SECTION 1:</b>
                                The Carrier’s Established Rate does not include the loading, unloading, handling, feeding, watering and other care of animal(s). Shipments of animal(s) may be
                                accompanied by one or more attendants provided by Shipper and it shall be the duty and the responsibility of such attendants to care for, load and unload the animal(s). The Carrier
                                shall be responsible only for the actual transportation of the animal(s). The Carrier, its employees and agents are not liable for injuries or death occurring to animal(s) while said
                                employees or agents assist in the loading or unloading of said animal(s). Shipper and/or individual receiving said animal(s) shall indemnify the Carrier and its agents for damages to
                                equipment and for injury or death to animal(s) resulting from negligence or willful misconduct on the part of the Shipper, the individual receiving such animal(s) or their agents.
                                <span class="text-danger">
                                    Agente/Dueno y/o el individuo que recibe el(los) animal(es) mencionado(s) anteriomente, debera reembolsar a el transportista y sus agentes por danos a equipo y por heridas o
                                    muerte del(los) animal(es) como resultado de la negligencia o conducta inapropiada de parte de el Agente/Dueno remitente, el individuo que recibe dicho(s) animal(es) o sus agentes.
                                </span>
                                Furthermore, if Carrier’s agents or employees at the request of a Shipper or the one receiving said animal(s) assist in the loading or unloading of animal(s), said Shipper and/or the
                                individual receiving said animal(s) shall indemnify the Carrier for damages to equipment and injuries or death to the animal(s) of said Shipper and/or receiver requesting unloading or
                                    loading assistance and also to the animal(s) of any other Shipper or receiver occurring in connection therewith.<br />
                                <b>SECTION 2:</b>
                                Shipper agrees Carrier shall not be responsible for the conduct or acts of the animal(s) to themselves or to each other such as biting, kicking, goring, or smothering, nor for
                                loss or damage arising from the condition of the animal(s) themselves, or which results from their nature or propensities, which risks are assumed by Shipper. Shipper hereby releases
                                and discharges Carrier from all liability from any cause whatsoever, unless such delay, injuries, or loss shall be caused by Carrier or by the negligence of its agents or employees, and in
                                such event, Carrier shall be liable only to the extent of actual damage sustained but, in no event, an amount greater than the Agreed Value stated herein for the animal(s) in question.
                                IF THE SHIPPER INDIVIDUALLY OR THROUGH SHIPPER’S AGENT FAILS TO DECLARE A VALUE AT THE TIME OF SHIPMENT, THE MAXIMUM LIABILITY IS $5,000 PER ANIMAL
                                    <span class="text-danger">SI EL EMBARCADOR O EL AGENTE DE EL VALOR AL TIEMPO DE LA EMBARCADA, EL MAXIMO QUE CUBRIRIA ES $5,000 POR ANIMAL.</span><br />
                                <b>SECTION 3:</b>

                                A copy of Carrier’s Terms and Conditions of Shipment, a document separate from this bill of lading’s Contract Terms and Conditions, may be obtained from Carrier’s
                                address identified above. SHIPPER ACKNOWLEDGES IT HAS OBTAINED AND READ A COPY OF CARRIER’S TERMS AND CONDITIONS OF SHIPMENT OR THAT IT HAS BEEN
                                OFFERED AND HAS DECLINED THE OPPORTUNITY TO DO SO, BUT IN ANY EVENT SHIPPER ACCEPTS AND AGREES TO BE BOUND BY THE PROVISIONS OF SAID
                                TERMS AND CONDITIONS OF SHIPMENT.
                            </p><br />
                            @*<h4><b>BOB HUBBARD HORSE TRANSPORTATION, INC.</b></h4>*@
                        </div>
                    </div>
                    <div class="row">
                            <div>
                                <b>
                                    BOB HUBBARD HORSE TRANSPORTATION,INC.
                                </b>
                            </div><br />
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="text-bold">Carrier Per(Agent Or Driver)</label>
                                    <input type="text" class="form-control" style="background-color:#f6faff;" name="" value="@ViewBag.getReceivingOrderRecord.CarrierPerAgentOrDriver" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                            
                    </div>

                        <div>
                            <p style="font-size:11px">
                                <b>SECTION 4:</b> Attendants provided by Shipper or Shipper’s agent will be transported without charge, together with their beds, bedding and baggage, but in
                                consideration of such free transportation Carrier shall not be responsible other than as a private carrier
                                , for any personal injury or death to said
                                attendants or loss of or damage to their belongings.
                                Attendants must ride in the body of the vehicle where they may readily care for the
                                Shipment at all times. In consideration of the carriage of an attendant or attendants provided by Shipper
                                , shipper agrees to indemnify and save
                                harmless Carrier from all demands of every kind, nature and description by reason of personal injury sustained by said attendant(s) whether the same be caused
                                by negligence or otherwise.<br />
                                <b>SECTION 5:</b>
                                Cost for attendants employed by Carrier accompanying and caring for Shipper’s horses will be passed on to Shipper.<br />
                                <b>SECTION 6:</b>
                                Beneficial Owner of the property shipped hereunder is liable for payment of all charges, if such charges are not paid by Shipper.<br />
                                <b>
                                    SECTION 7:
                                </b>
                                Claims for loss or damage are governed by the
                                provisions of 49 C.F.R. 370. Claims for duplicate payment and overcharges are governed by the provisions
                                of 49 C.F.R. 378. Claims must be filed in writing with the appropriate Carrier within nine (9) months after delivery or the property (or in case of export traffic, within nine (9)
                                months after delivery at port of export) or, in the case of failure to make delivery, within nine (9) months after a reasonable time for delivery has lapsed. Suits shall be
                                instituted against any Carrier only within two (2) years and one (1) day from the day when notice in writing is given by the Carrier to the Claimant that the Carrier has
                                disallowed the claim or any part or parts thereof specified in the notice. Where claims are not filed and suits are not instituted thereon in accordance with the forgoing
                                provision, no Carrier hereunder shall be liable and such claims will not be paid. Should Bob Hubbard Horse Transportation, Inc. successfully defend itself in any federal
                                court action claiming loss or damage to cargo, Bob Hubbard Horse Transportation, Inc. shall be entitled to recover attorney fees and costs as set forth in its Terms and
                                Conditions of Shipment.<br />
                                <b>SECTION 8:</b>
                                Following presentation of a billing statement from the Carrier the person responsible for payment of such charges shall have a credit period of 30 days in
                                which to make payment. Accounts unpaid as of the expiration of the credit period shall be subject to a service charge of one percent per month or fraction thereof (12
                                percent per annum) on the unpaid balance, beginning with the day following the last day of such credit period. In addition, accounts unpaid after 45 days shall be subject
                                to a late fee of $25.00 per month until balance is paid in full.<br />
                                <b>
                                    SECTION 9:
                                </b>
                                Upon arrival of the animal(s) and paraphernalia at destination, unless prior arrangements are made, Shipper or the person who is to receive said animal(s)
                                shall forthwith receive said animal(s) and paraphernalia and pay the charges due, if not prepaid, and if Shipper or the person to receive said animal(s) fails or refuses to
                                duly receive said animal(s) and paraphernalia and pay charges due, Carrier or a connecting Carrier having said animal(s) and paraphernalia in its charge, may, as agent
                                or Shipper, have said animal(s) and paraphernalia provided for in some suitable place at the cost and risk of Shipper, and subject to a lien for all freight and other lawful
                                charges including a reasonable charge for storage. Carrier may at any time or times thereafter sell said animal(s) and/or paraphernalia or any number of them, at public
                                or private sale, without notice, as Carrier may deem necessary, and apply the proceeds arising therefrom, or so much as may be needed for the payment of any charges
                                that may be due Carrier plus any other necessary costs and expenses.<br />
                                <b>SECTION 10:</b>
                                Where import regulations of the country/state/province of destination or any intermediate country/state/province require certificate(s) relating to the
                                health of animals, the cost of any necessary veterinary expense shall be borne by the Shipper and is not included in Carrier’s Established Rate. All other charges
                                incidental to international border and interstate crossings including user fees shall be borne by Shipper and are likewise not included in Carrier’s Established Rate.<br />
                                <b>SECTION 11:</b>
                                Shipper and Carrier agree the laws of the United States regarding the Carrier’s maximum liability for cargo loss apply regardless of the point of origin or the
                                routing of the shipment, and, where the Carmack Amendment does not apply in accordance with its terms, the parties hereby agree and incorporate the same by
                                reference into this contract.;<br />
                                <b>SECTION 12:</b>
                                All duties, taxes, imports or levies of any kind payable at the port of destination, and any expenses properly incurred in relation
                                to the animals after arrival
                                at the port of destination or any intermediate port before delivery to the one receiving the animal(s) are payable by the one receiving the animal(s) but the Shipper shall
                                indemnify the Carrier against any such payments which the Carrier shall be required or deem it necessary to make.<br />
                                <b>
                                    SECTION 13:
                                </b>
                                The Shipper individually or through Shipper’s agents warrants the animals are in all respects fit and suitable for the intended transportation.<br />
                                <b>SECTION 14:</b>
                                In the event Shipper’s account is turned over by Carrier for collection, Shipper or Beneficial Owner agrees to pay all collection and court costs, legal
                                interest and reasonable attorney fees. Shippers and their agents residing in California agree to submit to the jurisdiction of San Bernardino County for purposes of
                                dispute resolution via the courts, arbitration or mediation for California intrastate claims.<br />
                                <b>
                                    SECTION 15:
                                </b>
                                Shipper and Carrier agree signatures obtained by electronic means are valid for transacting business with each other, as is a signature provided manually,
                                and agree not to withdraw its consent to the use of electronic signatures without providing written or electronic notice to the other at least ten (10) days in advance of
                                consent being withdrawn.<br />
                                <b>SECTION 16:</b>
                                Shipper, individually or through its agent, and Carrier agree if Shipper or Shipper’s agent does not receive a copy of the bill of lading at point of the
                                Shipment’s origin, Carrier will provide a copy of the bill of lading to Shipper or Shipper’s agent at final destination or mail it to Shipper or Shipper’s agent after delivery,
                                upon receipt by Carrier of Shipper’s or Shipper’s agent’s written request to do so.<br />
                                <b>
                                    SECTION 17:
                                </b>
                                In the event any part, portion, term or condition of Carrier’s bill of lading or Terms and Conditions of Shipment shall be held to be unenforceable, the
                                remaining parts, portions, terms or conditions thereof shall nevertheless continue to be valid and enforceable as though the invalid or unenforceable part, portion, term
                                or condition has not been included herein.
                            </p>


                        </div>

                        <div>
                            <b>
                                BOB HUBBARD HORSE TRANSPORTATION,INC.
                            </b>
                        </div>

                        <div style="margin-top:10px;padding-bottom:10px">
                            <div class="form-group">
                                <label class="text-bold">Carrier Per(Agent Or Driver)</label>
                                <input type="text" class="form-control" name="" style="background-color:#f6faff;" value="@ViewBag.getReceivingOrderRecord.CarrierPerAgentOrDriver" readonly>
                            </div>

                            <h5 style="text-align:center">
                                <b>ATTENDANT’S CONTRACT</b>
                            </h5><br />
                            <p style="text-align:center;font-size:15px;">READ CAREFULLY. THIS IS A CONTRACT OF INDEMNIFICATION AFFECTING YOUR RIGHTS.</p>
                            <br />
                            <p style="font-size:14px">
                                In consideration of the undersigned’s request for transportation without charge in the body of the vehicle wherein animals are transported, said animals being under the
                                full care of the undersigned, the undersigned hereby agrees to indemnify, defend and hold Bob Hubbard Horse Transportation, Inc. of Colton, CA, harmless from any
                                and all loss, cost, claim, expense, cause of action, loss of use and liability by reason of injury (including death) to persons or damage to property arising out of the use,
                                operation, maintenance or control of cargo or motor vehicle equipment the undersigned may have against Bob Hubbard Horse Transportation, Inc., its agents,
                                employees, officers, successors and assigns. Further, each of the undersigned attendants agrees to assume all risk of injury to himself/herself while being transported
                                pursuant to this agreement.<br />
                                I, the undersigned, have read this CONTRACT OF INDEMNIFICATION and understand its terms. I execute it voluntarily and with full knowledge of its significance.<br /><br />
                                &nbsp;&nbsp;   IN WITNESS WHEREOF, the undersigned has executed this CONTRACT OF INDEMNIFICATION on the day and year first above written.
                            </p>
                        </div>

                        <div style="margin-top:13px">
                            <div>
                                Witness(es) &nbsp;<input type="text" readonly style="width: 371px; height: 35px; border: none; border-bottom: 1px solid black;background-color:#f6faff;" />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                Attendants<input type="text" readonly style="width: 371px; height: 35px; border: none; border-bottom: 1px solid black; background-color:#f6faff;" />

                            </div>

                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>


<script>
    function updateFunction(id) {
        debugger;
        $.ajax({
            type: 'POST',
            //url: "../Ajax/GetBillToRecordById",
            url: "@Url.Action("GetBillToRecordById","Ajax")",
            dataType: "json",
            data: {
                id: id
            },
            success: function (response) {
                debugger;
                if (response == null) {
                    alert("Record not found, Please reload the page.");
                }
                else {
                    // Populate form fields with received data
                    $("#updId").val(response.id);
                    $("#UpdName").val(response.name);
                    $("#UpdAddress").val(response.address);
                    $("#UpdAgreedValue").val(response.agreedValue);
                    $("#UpdChargeValue").val(response.chargeValue);
                    $("#UpdChargePerAnimal").val(response.chargePerAnimal);
                    $("#UpdDescription").val(response.description);

                    // Show the modal
                    $("#UpdateModal").modal('show');
                }

            },
            error: function () {
                alert("Ajax Failed");
            }
        });
    }


    function deleteFunction(id) {
        $('#confirmModalHeading').text('Warning!');
        $('#confirmModalHeader').removeClass('bg-success');
        $('#confirmModalHeader').addClass('bg-danger');
        $('#confirmModalText').empty();
        $('#confirmModalText').append('Do you really want to delete this record?<br />' +
            'This record is going to permanently delete from your system.<br />' +
            'The action cannot be undone.');

        $("#confirmModalForm").attr("action", "/Admin/DeleteBillToRecord?id=" + id);

        $('#confirmModal').modal('show');
    }

</script>

<script>
    function handlePaymentTypeCheckboxes() {
        var checkboxes = document.querySelectorAll('.payment-type');
        var selectedPaymentTypeInput = document.getElementById('SelectedPaymentType');

        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                if (this.checked) {
                    checkboxes.forEach(function (otherCheckbox) {
                        if (otherCheckbox !== checkbox) {
                            otherCheckbox.checked = false;
                        }
                    });

                    selectedPaymentTypeInput.value = this.value;
                } else {
                    // If the checkbox was unchecked, clear the hidden input value
                    selectedPaymentTypeInput.value = '';
                }
            });
        });
    }

    document.addEventListener('DOMContentLoaded', handlePaymentTypeCheckboxes);
</script>

@*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@

<script>
    getsumofChargeValues();
    function getsumofChargeValues() {
        debugger;
        // Get the values from global variables
        var basicChargesValue = @basicCharges;
        var chargesForExcessValueValue = @chargesForExcessValue;

        // Append the values to the input fields
        $("#BasicCharges").val(basicChargesValue);
        $("#ExcessValueCharges").val(chargesForExcessValueValue);
    }

</script>

<script>
    // Get references to the input fields and the error message div
    const receivingDateInput = document.getElementById('ReceivingDate');
    const paymentDateInput = document.getElementById('PaymentDate');
    const dateError = document.getElementById('dateError');

    // Add an event listener to the payment date input
    paymentDateInput.addEventListener('change', () => {
        const receivingDate = new Date(receivingDateInput.value);
        const paymentDate = new Date(paymentDateInput.value);

        if (paymentDate < receivingDate) {
            // Payment date is earlier than receiving date
            dateError.textContent = 'Payment date cannot be earlier than receiving date.';
            paymentDateInput.value = ''; // Clear the payment date input
        } else {
            dateError.textContent = ''; // Clear any previous error message
        }
    });


</script>



